
<media-servers>
	<mode>local</mode>
    
    <ports>
        <!-- 作为 rtsp-server -->    
        <rtsp-server>5454</rtsp-server>
    
        <!-- 作为 talkback-server -->
        <talkback-server>5555</talkback-server>
    </ports>
    
	<streams>  
        <stream>
            <name>/b</name>
            <url>rtsp://54.222.187.235/AD5F755CACDD0031671F6DF5C6A2A6CF8.sdp</url>
        </stream>
   <!--
		<stream>
			<name>/dahua</name>
			<url>rtsp://admin:admin@192.168.1.108</url>
		</stream>
        
        <stream>
            <name>/210360B871EECBD4D0AE1B9DCC24C568.sdp</name>
            <url>rtsp://darwin-server:554/210360B871EECBD4D0AE1B9DCC24C568.sdp</url>
        </stream>
         -->
	</streams>
</media-servers>